* {
  margin: 0;
}
body {
  background-color: #000000;
  font-family: "Montserrat", sans-serif;
}
h1 {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 50px 50px 50px;
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 3rem;
  z-index: 9999;
}

#loader img {
  animation: fadeOut 2.5s ease-in-out forwards;
  opacity: 0;
  width: auto;
  height: 650px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}

/* ------------------------------------------------------------------------------ */

.card {
  margin-bottom: 20px;
}

.card-title {
  margin-bottom: 10px;
}

.container {
  margin-top: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
