<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <script src="../components/app.js"></script>
    <script src="../components/header.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swap">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>Home</title>
</head>

<body style="background-color: black;">
    <div id="loader">
        <img src="../images/full_logo.png" alt="Logo">
    </div>

    <div id="main" style="display:none">
        <header-component></header-component>
        <h1>New Trending Stories</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <a
                        href="https://economictimes.indiatimes.com/markets/stocks/news/midcaps-for-long-term-play-5-stocks-with-high-roe-net-profit-margin/articleshow/99531682.cms">
                        <div class="card">
                            <img src="https://img.etimg.com/thumb/msid-99531682,width-525,height-393,imgsize-33794,resizemode-75/markets/stocks/news/midcaps-for-long-term-play-5-stocks-with-high-roe-net-profit-margin.jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Midcaps for long-term play; 5 stocks with high ROE & net profit
                                    margin</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a
                        href="https://www.moneycontrol.com/news/business/stocks/infosys-disappoints-street-find-out-what-brokerages-feel-about-the-stock-after-q4-10419711.html">
                        <div class="card">
                            <img src="https://images.moneycontrol.com/static-mcnews/2018/04/Infosys-logo-770x433.jpg?impolicy=website&width=770&height=431"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Infosys disappoints Street. Find out what brokerages feel about
                                    the stock after Q4</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a
                        href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.businesstoday.in%2Fmarkets%2Fstory%2Fshare-market-news-live-sensex-nifty-set-to-open-higher-on-global-cues-355728-2022-12-09&psig=AOvVaw0EUqBt1Gxt9wCfwcNlERQO&ust=1681847053785000&source=images&cd=vfe&ved=0CBMQjhxqFwoTCLChoNLWsf4CFQAAAAAdAAAAABAJ">
                        <div class="card">
                            <img src="https://akm-img-a-in.tosshub.com/businesstoday/images/story/202212/dalal-street-sixteen_nine_4-sixteen_nine.jpg?size=948:533"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Share Market News Live: Sensex, Nifty set to open higher on
                                    global cues - BusinessToday</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a
                        href="https://economictimes.indiatimes.com/markets/stocks/news/stocks-in-news-infosys-hdfc-bank-zee-angel-one-brightcom/articleshow/99538686.cms">
                        <div class="card">
                            <img src="https://img.etimg.com/thumb/msid-99538732,width-210,height-158,imgsize-37200,,resizemode-75/stocks.jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Stocks in news: Infosys, HDFC Bank, ZEE, Angel One, Brightcom
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a
                        href="https://economictimes.indiatimes.com/markets/stocks/news/bulls-had-gala-time-on-dalal-street-as-46-smallcap-stocks-gave-double-digit-weekly-returns/articleshow/99508862.cms">
                        <div class="card">
                            <img src="https://img.etimg.com/thumb/msid-99509038,width-210,height-158,imgsize-33044,,resizemode-75/bulls-had-gala-time-on-dalal-street-as-46-smallcap-stocks-gave-double-digit-weekly-returns.jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Bulls had gala time on Dalal Street as 46 smallcap stocks give
                                    double-digit weekly returns</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a
                        href="https://www.livemint.com/market/stock-market-news/global-markets-sgx-nifty-us-dollar-to-dow-jones-key-triggers-that-may-dictate-stock-market-today-11677551412979.html">
                        <div class="card">
                            <img src="https://images.livemint.com/img/2023/02/28/600x338/Global_market_news_1677551630092_1677551630274_1677551630274.jpg"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Global markets: SGX Nifty, US dollar to Dow Jones — key triggers
                                    that may dictate stock market today</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a
                        href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.moneycontrol.com%2Fnews%2Fbusiness%2Fmarkets%2Fnifty-to-remain-sideways-but-these-3-stocks-can-give-up-to-18-in-short-term-10313221.html&psig=AOvVaw3OD-y0zWsUbr7QZ6L4Wx_B&ust=1681846493764000&source=images&cd=vfe&ved=0CBMQjhxqFwoTCLDsusfUsf4CFQAAAAAdAAAAABAp">
                        <div class="card">
                            <img src="https://images.moneycontrol.com/static-mcnews/2023/03/stocks_market-stock_stock-6-770x433.jpg?impolicy=website&width=770&height=431"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Nifty to remain sideways but these 3 stocks can give up to 18% in
                                    short term</h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a
                        href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.businesstoday.in%2Fmarkets%2Fcompany-stock%2Fstory%2Fstocks-in-news-bajaj-finance-nykaa-paytm-coal-india-va-tech-wabag-354355-2022-11-28&psig=AOvVaw3OD-y0zWsUbr7QZ6L4Wx_B&ust=1681846493764000&source=images&cd=vfe&ved=0CBMQjhxqFwoTCLDsusfUsf4CFQAAAAAdAAAAABAZ">
                        <div class="card">
                            <img src="https://akm-img-a-in.tosshub.com/businesstoday/images/story/202211/markets-3_2-sixteen_nine.jpg?size=948:533"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Stocks in news: Bajaj Finance, Nykaa, Paytm, Coal India and more
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <a
                        href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.moneycontrol.com%2Fnews%2Fbusiness%2Fmarkets%2Fstock-market-today-top-10-things-to-know-before-the-market-opens-today-97-9366991.html&psig=AOvVaw0EUqBt1Gxt9wCfwcNlERQO&ust=1681847053785000&source=images&cd=vfe&ved=0CBMQjhxqFwoTCLChoNLWsf4CFQAAAAAdAAAAABAE">
                        <div class="card">
                            <img src="https://images.moneycontrol.com/static-mcnews/2020/01/Sensex_BSE_NSE_Stock-market-1-770x433.png?impolicy=website&width=770&height=431"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Stock Market Today: Top 10 things to know before the market opens
                                    today</h5>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <footer>
            <p>&copy; 2023 STOCKSENSE LTD.</p>
        </footer>
</body>

</html>